.youtube-video {
	border-radius: 8px;
	overflow: hidden;

	margin-bottom: 20px;

	iframe {
		width: calc(100vw - 20px);
		height: calc((100vw - 20px) * 720 / 1280);

		max-width: 800px;
		max-height: calc(800px * 720 / 1280);
	}
}
