* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	--background: #f8f8f8;
	--text: #29292e;
	--background-alt: #835afd;
	--text-alt: #fff;
	--detail-1: #a8a8b3;
	--detail-2: #737380;
	--detail-3: #e2e2e2;
	--text-link: #e559f9;
	--button-red: #ea4335;
	--background-question: #fefefe;
	--background-highlighted: #f4f0ff;
	--background-answered: #dbdcdd;

	&.dark {
		--background: #191622;
		--text: #e1e1e6;
		--background-alt: #483c67;
		--text-alt: #e1e1e6;
		--detail-1: #fefefe;
		--detail-2: #f4f0ff;
		--detail-3: #dbdcdd;
		--text-link: #e559f9;
		--button-red: #e96379;
		--background-question: #2d2640;
		--background-highlighted: #3d3267;
		--background-answered: #41414d;
	}

	background: var(--background);
	color: var(--text);
}

body,
input,
button,
textarea {
	font: 400 16px 'Roboto', sans-serif;
}
